<style>
iframe.landscape {
    width: 60%;
}
</style>

<p>Refresh page to regenerate document.</p>

<a target="_blank" href="{{ editor_url}}">editor</a>
<br />
<iframe class="landscape" src="{{ editor_url }} " height="400px"></iframe>

<div name="menu" style="width: 38%; float: right;">
    <pre style="height: 300px; overflow: scroll; border: thin dotted purple;">
    {{ config }}
    </pre>

    <div style="height: 1000px; overflow: scroll; border: thin dotted purple;">
        {{ menu | safe  }}
    </div>
</div>

<div style="margin-top: 20px;" />
    {% if jinja_exception %}
    <p>An error occurred while processing your template using Jinja:</p>
    <pre>
{{ jinja_exception }}
    </pre>
    <p>Re-edit your document and try again.</p>
    {% else %}
    <button onclick="var ifr=document.getElementsByName('renderedDocument')[0]; ifr.src=ifr.src;">Reload Frame</button>
    <br />
    <iframe class="landscape" name="renderedDocument" src="{{ rendered_document }}"" style="border:thin solid blue;" height=800px"></iframe>
    {% endif %}
